input.txt

# JetBrains
.idea/
cmake-build-debug/

# MacOS
.DS_Store

# Rust/Cargo
target/

# Zig
zig-out/
zig-cache/

# Ocaml
_build/

# Haskell
.stack-work/

# C++
build/
.cache/
compile_commands.json
